<%= form_with(model: advertisement, local: true) do |form| %>
  <% if advertisement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(advertisement.errors.count, "error") %> prohibited this advertisement from being saved:</h2>

      <ul>
      <% advertisement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
  <%= form.label :category_id %>
  <%= form.select :category_id, Category.all.collect {|category| [category.descricao, category.id]}, {}, {class: 'form-control'} %>
  </div>
  <div class="field">
    <%= form.label :titulo %>
    <%= form.text_field :titulo, id: :advertisement_titulo %>
  </div>

  <div class="field">
    <%= form.label :descricao %>
    <%= form.text_field :descricao, id: :advertisement_descricao %>
  </div>

  <div class="field">
    <%= form.label :preco %>
    <%= form.text_field :preco, id: :advertisement_preco %>
  </div>

  <% @advertisement.imagens.each do |img| %>

    <% if(!img.file.nil?) %>
      <%= image_tag(img.thumb.url) %>
      <% end %>
    <%end %>


  <%= form.check_box :remove_imagens %> Remover Imagem

  <div class="field">
    <%= form.label :imagens %>
    <%= form.file_field :imagens, id: :advertisement_imagens, multiple:true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
